<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CraeteSuite">
  <test thread-count="5" name="Test" verbose="5" parallel="classes">
    <classes>
      <class name="browser.CreateAccount"/>
      <class name="browser.CreateLegalEntity"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
